@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e8fc;
  font-family: "Open Sans", sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  width: 420px;
  max-width: 100%;
  min-height: 800px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container .balance-section {
  max-width: 100%;
  height: 300px;
  background: linear-gradient(199deg, #3f1da5 0%, #a433d1 100%);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.container .balance-section .balance-money {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.container .balance-section .balance-money h1 {
  color: #ffffff;
  font-weight: 300;
  font-size: 3.5rem;
}

.container .balance-section .balance-money p {
  color: #ffffff;
  text-transform: capitalize;
}

.container .balance-section .balance-money > * {
  margin-bottom: 20px;
}

.container .balance-section .balance-money small {
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
}

.container .balance-section .income-expense {
  display: flex;
  justify-content: space-around;
}

.container .balance-section .income-expense .income {
  flex: 1;
  margin: 10px auto;
  padding: 10px 20px;
}

.container .balance-section .income-expense .income i {
  transform: rotate(40deg);
  margin-right: 7px;
  color: #bfd200;
}

.container .balance-section .income-expense .income p {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
}

.container .balance-section .income-expense .income .income-amount {
  margin-top: 5px;
}

.container .balance-section .income-expense .income .income-amount strong {
  margin-left: 30px;
}

.container .balance-section .income-expense .expense {
  margin: 10px auto;
  padding: 10px 20px;
  flex: 1;
}

.container .balance-section .income-expense .expense p {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
}

.container .balance-section .income-expense .expense i {
  transform: rotate(40deg);
  margin-right: 7px;
  color: #ff5d8f;
}

.container .balance-section .income-expense .expense .expense-amount {
  margin-top: 5px;
}

.container .balance-section .income-expense .expense .expense-amount strong {
  margin-left: 30px;
}

.container .entry-section {
  width: 90%;
  margin: auto auto;
}

.container .entry-section h3 {
  text-align: center;
  margin-bottom: 10px;
}

.container .entry-section ul {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.container .entry-section .list li.plus {
  border-right: 5px solid #2b9348;
}

.container .entry-section .list li.minus {
  border-right: 5px solid #b7094c;
}

.container .entry-section .list li {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
  background: #ffffff;
  padding: 8px 10px;
  border-radius: 5px;
  position: relative;
}

.container .entry-section .list li .delete-btn {
  cursor: pointer;
  padding: 5px 5px;
  background: #ffffff;
  color: #b7094c;
  border: 1px solid #b7094c;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  outline: 0;
}

.container .entry-section .list li:hover .delete-btn {
  opacity: 1;
}

.container .entry-section input[type='text'],
.container .entry-section input[type='number'] {
  width: 90%;
  margin: 10px 15px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #e9e8fc;
}

.container .entry-section label {
  display: inline-block;
  margin-left: 20px;
  font-weight: bold;
}

.container .entry-section .btn {
  background: linear-gradient(199deg, #3f1da5 0%, #a433d1 100%);
  color: #ffffff;
  width: 90%;
  margin: 10px 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-weight: 100;
}
