@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

$bgGradient: linear-gradient(
  199deg,
  hsla(255, 70%, 38%, 1) 0%,
  hsla(283, 63%, 51%, 1) 100%
);
$openSans: 'Open Sans', sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e9e8fc;
  font-family: $openSans;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container {
  width: 420px;
  max-width: 100%;
  min-height: 800px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  .balance-section {
    max-width: 100%;
    height: 300px;
    background: $bgGradient;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .balance-money {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
      h1 {
        color: #ffffff;
        font-weight: 300;
        font-size: 3.5rem;
      }
      p {
        color: #ffffff;
        text-transform: capitalize;
      }
      > * {
        margin-bottom: 20px;
      }
      small {
        font-weight: bold;
        color: #ffffff;
        letter-spacing: 2px;
      }
    }
    .income-expense {
      display: flex;
      justify-content: space-around;
      .income {
        flex: 1;
        margin: 10px auto;
        padding: 10px 20px;
        i {
          transform: rotate(40deg);
          margin-right: 7px;
          color: #bfd200;
        }
        p {
          text-transform: uppercase;
          font-weight: bold;
          color: #ffffff;
          letter-spacing: 2px;
        }
        .income-amount {
          margin-top: 5px;
          strong {
            margin-left: 30px;
          }
        }
      }
      .expense {
        margin: 10px auto;
        padding: 10px 20px;
        flex: 1;
        p {
          text-transform: uppercase;
          font-weight: bold;
          color: #ffffff;
          letter-spacing: 2px;
        }
        i {
          transform: rotate(40deg);
          margin-right: 7px;
          color: #ff5d8f;
        }
        .expense-amount {
          margin-top: 5px;
          strong {
            margin-left: 30px;
          }
        }
      }
    }
  }
  .entry-section {
    width: 90%;
    margin: auto auto;
    h3 {
      text-align: center;
      margin-bottom: 10px;
    }
    ul {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
    .list {
      li.plus {
        border-right: 5px solid #2b9348;
      }
      li.minus {
        border-right: 5px solid #b7094c;
      }

      li {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 10px auto;
        background: #ffffff;
        padding: 8px 10px;
        border-radius: 5px;
        position: relative;
        .delete-btn {
          cursor: pointer;
          padding: 5px 5px;
          background: #ffffff;
          color: #b7094c;
          border: 1px solid #b7094c;
          border-radius: 6px;
          position: absolute;
          top: 50%;
          left: 0%;
          transform: translate(-100%, -50%);
          transition: opacity 0.3s ease-in-out;
          opacity: 0;
          outline: 0;
        }
      }
    }
    .list li:hover .delete-btn {
      opacity: 1;
    }
    input[type='text'],
    input[type='number'] {
      width: 90%;
      margin: 10px 15px;
      padding: 10px 10px;
      border-radius: 5px;
      border: 1px solid #e9e8fc;
    }
    label {
      display: inline-block;
      margin-left: 20px;
      font-weight: bold;
    }
    .btn {
      background: $bgGradient;
      color: #ffffff;
      width: 90%;
      margin: 10px 15px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      font-weight: 100;
    }
  }
}
// @media (max-width: 1024px) {
//   .container {
//     width: 400px;
//     max-width: 100%;
//     max-height: 500px;
//     .balance-section {
//       height: 200px;
//       margin-bottom: 2px;
//       h1 {
//         font-size: 1rem;
//         font-weight: normal;

//       }
//       > * {
//         margin-bottom: 5px;
//       }
//     }
//    }
// }
